<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
    <script src="../vue2.4.0.js"></script>
    <script src="../jquery2.2.4.js"></script>
    <link rel="stylesheet" href="../bootstrap-3.3.7.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="../bootstrap-theme-3.3.7.min.css" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="../bootstrap-3.3.7.min.js"></script>
    <style>

    </style>
</head>
<div id="app">
    <h3 id="h3">{{msg}}</h3>
    <input type="button" value="修改变量msg" @click="msg='No'"/>
    <input v-fontcolor="'blue'"/>
    <input v-fontweight="'900'"/>
    <input v-fontsize="'40px'" />

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加品牌</h3>
        </div>
        <div class="panel-body form-inline">
            <label>
                id:
                <input type="text" name="" id="" class="form-control" v-model="id" value="" title="">

            </label>
            <label>
                name:<!-- @keyup.113="add"
                        @keyup.f2="add"
                -->
                <input type="text" name="" id="" class="form-control" v-model="name" @keyup.enter="add" value="" title="">

            </label>
            <input type="button" value="添加" @click="add" class="btn btn-primary" />


            <label>
                搜索关键字:
                <input v-focus type="text" name="" id="" class="form-control" v-model="keyword" value="" title="">

            </label>
        </div>


    </div>


    <table class="table table-bordered table-hover ">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>time</th>
                <th>operation</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in search(keyword)" :key="item.id">
                <td v-text="item.id"></td>
                <td v-text="item.name"></td>
                <td v-text="item.time"></td>
                <td><a @click.prevent="del(item.id)">删除</a></td>
            </tr>
        </tbody>
    </table>


</div>

<body>
    <script>
        //自定义全局按键修饰符
        Vue.config.keyCodes.f2=113;
         Vue.filter('dataFormat',function(data){
            return data.replace("hello","hhhhh");
        });
        // 定义全局指令
        Vue.directive("focus",{
            bind:function(el){//每当指令绑定到元素上的时候 只执行一次
                console.log("bind");
                //此时未插入到dom中　所以不起作用
                el.focus();
            },
            inserted:function(el){//元素插入到dom中的时候
                console.log("inserted");
                el.focus();
            },
            updated:function(el){
                console.log("updated");
            }
        });
        Vue.directive("fontcolor",{
            bind:function(el,binding){//每当指令绑定到元素上的时候 只执行一次
                console.log("bind");
                console.log(binding);
                //此时未插入到dom中　所以不起作用
                el.style.color=binding.value;

            },
            inserted:function(el){//元素插入到dom中的时候
                console.log("inserted");
                
            },
            updated:function(el){
                console.log("updated");
            }
        });
        var vm = new Vue({
            el: "#app",
            data: {
                keyword:'',
                id:'',
                msg:'ok',
                name:'',
                list: [{ id: 1, name: 'nexus', time: new Date() }, { id: 2, name: 'lg', time: new Date() }]
            },
            methods: {
                add(){
                    console.log(this.id,this.name);
                    var obj={id:this.id,name:this.name,time:new Date()};
                    this.list.push(obj);
                    this.id='';
                    this.name='';
                },
                del(id){
                    /*
                    this.list.some((item,i) => {
                        if(item.id=id){
                            this.list.splice(i,1);
                            return true;
                        }
                    });
                    */
                    var index=                    this.list.findIndex((item) => {
                        if(item.id==id){
                            return true;
                        }
                    });
                    this.list.splice(index,1);
                   
                   
                },
                search(keyword){
                  /* var newList=[];
                   this.list.forEach(element => {
                       if(element.name.indexOf(keyword)!=-1){
                           newList.push(element);
                       }
                   });
                   return newList;
                   */
                   return this.list.filter(item=>{
                       if(item.name.includes(keyword)){
                           return item;
                       }                       
                   });
                }
                
            },
            filters:{

            },
            directives:{
                'fontweight':{
                    bind:function(el,binding){
                        el.style.fontWeight=binding.value;
                    }
                },
                'fontsize':function(el,binding){
                    el.style.fontSize=binding.value;
                }//等同于写到bind和update中去
            },
            beforeCreate(){//第一个生命周期函数
                console.log("beforeCreate");
                //此时msg还没有被实例化
                console.log(this.msg);
            },
            created(){
                console.log("created");
                console.log(this.msg);
            },
            beforeMount(){//第3个生命周期函数　表示　模板已经在内存中编辑完成了但是没有渲染到页面中
                console.log("beforeMount");
                console.log(document.getElementById("h3").innerText);
            },
            mounted(){//第4个生命周期函数　表示　内存中的模板已经真实挂载到页面中了　可以看到效果了
                console.log("mounted");
            },
            //接下来是运行中的2个事件回调函数
            beforeUpdate(){ 
                console.log("beforeUpdate");
                console.log("beforeUpdate:"+document.getElementById("h3").innerText);
                console.log("msg:"+this.msg);
            },
            updated(){
                //页面和data数据保持一致了
                console.log("updated");
                console.log("beforeUpdate:"+document.getElementById("h3").innerText);
                console.log("msg:"+this.msg);
            }

        });
    </script>

</body>

</html>